@font-face {
    font-family: myFirstFont;
    src: url(../fonts/GABRWFFR.TTF);
}

.customFriendsFont {
    font-family: myFirstFont;
  }

  body {
      background-image: url(../images/friendWallpaper.jpg);
  }

  #initialButton {
      font-size: 30px
  }